body{
  background-image: url("../../Images/interlaced.png");
}

.panel {
  width: 50%;
  margin: auto;
  padding: auto;
  padding-top: 3%;
  text-align: center;
}
#logo {
  width: 5%;
  padding-bottom: 5%;
}

.forgot {
  width: 100%;
  height: 30px;
}
.right-float {
  float: right;
}
.left-float {
  float: left;
}
#register {
  background-color: #ffcc66;
  color: black;
  border: solid black 2px;
}

#loginbutton {
  background-color: #ffcc66;
  color: white;
  color: black;
  border: solid black 2px;
  margin-top: 30px;
}
#register {
  margin-bottom: 15%;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.link {
  color: rgb(207, 150, 35);
}

.link:hover {
  color: rgb(100, 69, 8);
  text-decoration: none;
  transition: 1s;
}

.message{
  color: rgb(200,0,0);
}

.button:hover {
  background: rgb(207, 150, 35);
}
