.panel {
  width: 50%;
  margin: auto;
  padding: auto;
  padding-top: 3%;
  text-align: center;
}
#logo {
  width: 5%;
  padding-bottom: 5%;
}

.forgot {
  width: 100%;
  height: 30px;
}
.right-float {
  float: right;
}
.left-float {
  float: left;
}

button {
  background-color: lightseagreen;
  color: white;
}
#register {
  margin-bottom: 15%;
}

.link {
  color: rgb(160, 116, 27);
}

.link:hover {
  color: rgb(100, 69, 8);
  text-decoration: none;
}
