.panel{
    width:40%;
    margin: auto;
    padding: auto;
    padding-top: 150px;
    text-align: center;
  }
  
  img{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .forgot{
    width: 100%; 
    height: 30px;
  }
  a{float: right;}
  
  button{
    background-color: lightseagreen;
  }
  