#pic1 {
  height: 92vh;
  /* border: 1px solid black; */
  background: url("../../../Images/logo1.png");
}

#pic2 {
  height: 92vh;
  /* border: 1px solid black; */
  background: url("../../../Images/logo2.png");
}
#pic3 {
  height: 92vh;
  /* border: 1px solid black; */
  background: url("../../../Images/logo3.png");
}

#carouselExampleIndicators {
  padding: 0;
  margin: 0;
}
