@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans");

body {
  margin: 0;
  overflow: auto;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: lightseagreen;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
 #logo {
  width: 8%;
 padding-bottom: 5px;
  padding-right: 10px;
}

.nav{
  font-weight: 900;
} 
li{font-weight: 90;
}

#heart{
  float: left;
  padding-top: 10px;
  padding-right: 10px;
}
.transparent-btn {
  background: transparent;
  border: transparent;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  transform: rotate(45deg);
  transform-origin: 16px 16px;
}
.lds-heart div {
  top: 12px;
  left: 10px;
  position: absolute;
  width: 13px;
  height: 13px;
  background: rgb(240, 95, 119);
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  background:rgb(240, 95, 119);;
}
.lds-heart div:before {
  left: -8px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -8px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

