#cardbody {
  width: 100%;
}
#petpicture {
  width: 100%;
  margin: auto;

  padding-bottom: 5px;
}
#exit {
  float: right;
  width: 7%;
  background-color: orangered;
  border: solid lightgrey 1px;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}
.ItemList {
  text-align: left;
}

h1 {
  font-size: 32px;
  text-align: center;
}

.centerElement {
  text-align: center;
}
#petpicture {
  width: 100%;
  margin: auto;
  padding-bottom: 5px;
}
#exit {
  float: right;
  width: 7%;
  background-color: orangered;
  border: solid lightgrey 1px;
}

.link {
  color: rgb(207, 150, 35);
}

.link:hover {
  color: rgb(100, 69, 8);
  text-decoration: none;
}
