#cardbody {
  border: solid black 2px;
  box-shadow: 10px 10px 2px lightgray;
}

#defaultValue {
  font-size: 0.1em;
}
#option1{
  background-color:  #ffcc66;
}
#box{
  color: black;
}
#checked{
  width: 30px;
}


