#setbutton {
  background-color: #ffcc66;
  border-radius: 50px;
  border: solid black 2px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

#setzip {
  border: solid black 2px;
}

.buttons:hover {
  background: rgb(207, 150, 35) !important;
  transition: 1s;
}

.zipcode {
  /* color: red !important; */
  background-color: #ffcc66;
}
